<% if user_signed_in? or admin_signed_in? %>

  <div class="row">
    <div class="col-md-3">
      <%= render 'shared/user_info' %>
    </div>
    <div class="col-md-6">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>   
      <% end %>
      <%= render 'shared/post_form' %>
      <%= render 'shared/feed' %>
    </div>
    <div class="col-md-2">
      Other
    </div>
  </div>
<% else %>

  <div class="row">
    <div class="col-md-4 text-center">
    <%= render 'shared/new_user_form' %>
    </div>
    <div class= "col-md-8">
      <h1>Welcome to Project</h1>

    </div>
  </div>

<% end %>


