<div class="panel panel-default user_info" >
  <div class="panel-body">
    <% @user ||= current_user %>
    <%= link_to gravatar_for(@user, size: 52), @user %>
    <h3>
      <%= link_to @user.username, @user %>
    </h3>
    <span>
      <%= link_to "view my profile", @user %>
    </span>
    <div>
      <%= pluralize(@user.posts.count, "post") %>
    </div>
  </div>   
  <ul class="list-group">
    <li class= "list-group-item" >
    <% if params[:id] == nil %>
      Id is empty
    <% else %>
      <%= params[:controller] %>
    <% end %>
    </li>
  </ul>
</div>
