<% provide(:title, @current_book.name) %>
<div class="row">
  <div class="col-md-3">
    <%= render 'shared/user_info' %>
    <%= render 'books_menu' %>
  </div>
  <div class="col-md-7">
    <%= render 'shared/flash' %>
    <%= render 'book_info' %>
  </div>
  <%= render 'shared/advert' %>
</div>